{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <!-- Navigation-->
    <div class="bg-home text-white banner">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Welcome to Electric Axles</h1>
            <p class="lead">A Place All About Electric Rides!</p>
        </div>
    </div>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="logo-font">About Us</h2>
                    <p class="lead">We are a store that celebrates the future of personal travel. The are tons of benefits of using e-vehilces:</p>
                    <ul>
                        <li>They Are More Sustainable</li>
                        <li>Lower Running Costs</li>
                        <li>Easy Accessibility</li>
                        <li>Easy Storage</li>
                        <li>Health Benefits</li>
                        <li>They're Fun To Use</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Services we offer</h2>
                    <p class="lead">A convient place to view, purchase or enquire about different electric vehicles. We will help you find a one best suited to your needs.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section id="contact">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Contact us</h2>
                    <p class="lead">Get in touch with us.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="{% url 'home' %}"><span>Electric</span>Axles</a></h3>
                <p class="company-name">electricaxles.com © 2022</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-about">
                <h4>About the author</h4>
                <p>Looking to learn and progress as a new Developer</p>
                <div class="social-links social-icons">
                    <a href="https://www.linkedin.com/in/daryl-howai-934444211/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/dhowai" target="_blank"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 py-3 footer-about">
                <h4>About the Site</h4>
                <p>This site is dedicated to selling electric vehilces</p>
            </div>
        </div>
    </footer>
{% endblock %}