{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>My Profile</h5>
                    </div>
                    <div class="ibox-content">
                        <p class="text-muted">Default Delivery Information</p>
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="mt-3">
                            {% csrf_token %}
                            {{ form|crispy }}
                           
                                <button class="btn btn-primary text-uppercase me-md-2">Update Information</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox-title">
                    <h5>Order History</h5>
                </div>
                <div class="ibox-content">
                    {{ orders }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}