{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            {% if basket_items %}
                <div class="col-md-9">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>({{ product_count }}) Items in your Basket</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product Info</th>
                                            <th scope="col"></th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Subtotal</th>
                                        </tr>
                                    </thead>

                                        {% for item in basket_items %}
                                            <tbody>
                                                <tr>
                                                    <td class="p-3 w-25">
                                                        {% if item.product.image %}
                                                            <img class="img-fluid py-3" src="{{ item.product.image.url }}"
                                                                alt="{{ item.product.name }}">
                                                        {% else %}
                                                            <img class="img-fluid py-3" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                                                alt="{{ item.product.name }}">
                                                        {% endif %}
                                                    </td>
                                                    <td class="py-3 desc align-middle">
                                                        <p class="my-0">
                                                            <a class="text-navy my-0" href="{{ item.product.get_absolute_url }}">
                                                                {{ item.product.name|upper }}
                                                            </a>
                                                        </p>

                                                        {% if item.product.has_sizes %}
                                                            <p class="small">
                                                                Size: {{ item.size|upper }}
                                                            </p>
                                                        {% else %}
                                                            <p class="d-none"></p>
                                                        {% endif %}
                                                
                                                    </td>
                                                    <td class="py-3 desc align-middle">
                                                        <p class="my-0">
                                                            £{{ item.product.price }}
                                                        </p> 
                                                    </td>
                                                    <td class="py-3 w-25 align-middle">
                                                        <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                            <span class="icon">
                                                                                <i class="fa-solid fa-caret-left"></i>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                    <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="20" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                                    <div class="input-group-append">
                                                                        <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                            <span class="icon">
                                                                                <i class="fa-solid fa-caret-right"></i>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <div class="d-flex justify-content-between">
                                                            <a class="update-link text-info"><i class="fa-solid fa-arrows-rotate"></i> Update</a>
                                                            <a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><i class="fa fa-trash"></i> Remove</a>
                                                        </div>
                                                    </td>
                                                    <td class="py-3 desc align-middle">
                                                        <p class="my-0">
                                                            £{{ item.product.price | calc_subtotal:item.quantity }}
                                                        </p> 
                                                    </td>
                                                </tr>
                                            </tbody>    
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                                Basket
                            </span>
                            <h2 class="font-bold">
                                £{{ total|floatformat:2 }}
                            </h2>
                            <span>
                                Delivery
                            </span>
                            <h2 class="font-bold">
                                {% if free_delivery_delta > 0 %}
                                <p class="mb-1 font-bold">
                                    £{{ delivery|floatformat:2 }}
                                </p>
                                <p class="small mb-1 text-danger">
                                    Spend <strong>${{ free_delivery_delta }}</strong> more, to get free Delivery
                                </p>
                                {% else %}
                                <p class="mb-1 font-bold">
                                    £{{ delivery|floatformat:2 }}
                                </p>
                                {% endif %}
                            </h2>
                            <span>
                                Grand Total
                            </span>
                            <h2 class="font-bold">
                                £{{ grand_total|floatformat:2 }}
                            </h2>

                            <hr>
                            <span class="text-muted small">
                                Payment
                            </span>
                            <div class="m-t-sm">
                                <a href="{% url 'products' %}" class="fw-bold btn btn-outline-dark rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                
                                <a href="{% url 'checkout' %}" class="fw-bold btn btn-primary rounded-0">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="ibox-title">
                    <h5>Your Basket is Empty</h5>
                    <a href="{% url 'products' %}" class="fw-bold btn btn-outline-dark rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}