<div class="collapse navbar-collapse" id="cat-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}"
                id="all-products-link">
                | All Products |
            </a>
        </li>
        {% for cat in categories %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{{ cat.get_absolute_url }}">
                {{ cat.name|title }} |
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item"></a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>